.masthead-subheading {
  margin: 5rem 2rem 0rem 2rem;
  color: rgb(206, 116, 14);
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
}
.masthead-heading {
  margin-top: 4rem;
  margin-bottom: 0rem;
  text-align: right;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(148, 93, 20);
}
.Foto {
  width: 25rem;
  float: left;
  margin-bottom: 3rem;
}
