.container-fluid {
  background-color: rgba(248, 105, 10, 0.829);
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
}
#navbarText {
  color: aliceblue;
}
